<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>전적검색</h1>
    <form action="https://www.op.gg/summoner/">
        <input type="text" name = "userName">
        <input type="submit">
    </form>
    <h1>{{username}}님을 검색하셨습니다.</h1>
    <h3>티어는 어디이고 전적은 어딥니다.</h3>
    <h3>url = {{opgg_url}}</h3>
    <h3>{{tier}}</h3>
    <a href={{opgg_url}}>링크</a>
</body>
</html>